@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poiret+One&display=swap');

/* Definindo Paleta de cores */
:root{
    --primary-color: #060D13;
    --second-color: #1489DC;
    --third-color: #0C1A23;
    --fourth-color: #18374B;
    --fifth-color: #E5E5E5;

    
}

/* Definindo configurações iniciais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: var(--primary-color);
}

/* Estilizando o scroll da página */
body::-webkit-scrollbar {
    /* Aqui estou definindo a largura do scroll */
    width: 10px;   
}
  
body::-webkit-scrollbar-track {
    /* Aqui estou definindo a cor de fundo do scroll */
    background: #FFFFFF;  
}

body::-webkit-scrollbar-thumb {
    /* Aqui estou estilizando a barra de rolagem */
    background-color: #1C1C1C;    
    border-radius: 20px; 
    border: 2px solid #FFFFFF;  
}

header {
    display: flex;
    justify-content: center;
    gap: 400px;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: thin solid var(--fifth-color);
}

header .title {
    font-family: 'Poiret One', cursive;
    color: var(--second-color);
    font-size: 30px;
}

header .menu {
    display: flex;
    gap: 70px;
    justify-content: baseline;
    align-items: baseline;
    font-size: 15px;
}

header .menu .item-menu {
    color: var(--fifth-color);
}

header .menu .contact {
    display: flex;
    gap: 10px;
    background-color: var(--second-color);
    border-radius: 5px;
    padding: 10px 30px;
}

header .menu .contact img {
    width: 20px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

main .home, main .projects {
    margin-left: 215px;
    margin-right: 215px;
}

/* Home */

main .home {
    margin-top: 120px;
    margin-bottom: 70px;
    display: flex;
    gap: 170px;
    height: 60vh;
}

main .home .container-left {
    height: 300px;
}

main .home .container-left .title-home, 
main .projects .title-projects{
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    gap: 27px;
}

main .home .container-left .title-home .line,
main .projects .title-projects .line{
    width: 238px;
    border-bottom: 1px solid var(--second-color);
}

main .home .container-left .title-home .hello-word,
main .projects .title-projects .projetos{
    color: var(--second-color);
    font-size: 15px;
    font-weight: normal;
}

main .home .container-left .text-apresentation {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 50px;
    width: 275px;
    color: #FFFFFF;
    text-align: left;
}

main .home .container-left .text-apresentation p{
    font-size: 24px;
    font-weight: 300;
}

main .home .container-left .text-apresentation p span {
    color: var(--second-color);
}

main .home .container-left .text-apresentation .description-me-home {
    font-size: 15px;
    margin-top: 20px;
}

main .home .container-left .more-learn {
    display: inline-block;
    margin-top: 25px;
    background-color: var(--second-color);
    border-radius: 5px;
    padding: 10px 20px;
    color: #FFFFFF;
    
}

main .home .container-left .more-learn:hover{
    transform: scale(110%);
    transition: all 1s;
}

main .home .container-left .more-learn img {
    margin-left: 5px;
    width: 20px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

main .home .container-right {
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--third-color);
    border-radius: 5px;
    margin-top: 36px;
}

main .home .container-right img {
    position: absolute;
}

main .home .container-right .img-joan {
    width: 300px;
}

main .home .container-right .img-computer {
    width: 500px;
}


/* About */

main .about {
    background-color: #1489DC;
}


/* Footer */
footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100vh;
    bottom: 40px;
    color: #FFFFFF;
}
