@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poiret+One&display=swap');

/* Definindo Paleta de cores */
:root{
    --primary-color: #060D13;
    --second-color: #1489DC;
    --third-color: #0C1A23;
    --fourth-color: #18374B;
    --fifth-color: #E5E5E5;

    
}

/* Definindo configurações iniciais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Nunito', sans-serif;
    background-color: var(--primary-color);
}

/* Estilizando o scroll da página */
body::-webkit-scrollbar {
    /* Aqui estou definindo a largura do scroll */
    width: 10px;   
}
  
body::-webkit-scrollbar-track {
    /* Aqui estou definindo a cor de fundo do scroll */
    background: #FFFFFF;  
}

body::-webkit-scrollbar-thumb {
    /* Aqui estou estilizando a barra de rolagem */
    background-color: #1C1C1C;    
    border-radius: 20px; 
    border: 2px solid #FFFFFF;  
}

header {
    display: flex;
    justify-content: center;
    gap: 400px;
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: thin solid var(--fifth-color);
}

header .title {
    font-family: 'Poiret One', cursive;
    color: var(--second-color);
    font-size: 30px;
}

header .menu {
    display: flex;
    gap: 70px;
    justify-content: baseline;
    align-items: baseline;
    font-size: 15px;
}

header .menu .item-menu {
    color: var(--fifth-color);
}

header .menu .contact {
    display: flex;
    gap: 10px;
    background-color: var(--second-color);
    border-radius: 5px;
    padding: 10px 30px;
}

header .menu .contact img {
    width: 20px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

main .home, main .projects, main .about {
    margin-left: 215px;
    margin-right: 215px;
}

/* Home */

main .home {
    margin-top: 120px;
    margin-bottom: 70px;
    display: flex;
    gap: 170px;
    height: 60vh;
}

main .home .container-left {
    height: 300px;
}

main .home .container-left .title-home, 
main .projects .title-projects,
main .about .title-about{
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    gap: 27px;
}

main .home .container-left .title-home .line,
main .projects .title-projects .line,
main .about .title-about .line{
    width: 240px;
    border-bottom: 1px solid var(--second-color);
}

main .home .container-left .title-home .hello-word,
main .projects .title-projects .projetos,
main .about .title-about .sobre{
    color: var(--second-color);
    font-size: 15px;
    font-weight: normal;
}

main .home .container-left .text-apresentation {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 50px;
    width: 275px;
    color: #FFFFFF;
    text-align: left;
}

main .home .container-left .text-apresentation p{
    font-size: 24px;
    font-weight: 300;
}

main .home .container-left .text-apresentation p span {
    color: var(--second-color);
}

main .home .container-left .text-apresentation .description-me-home {
    font-size: 15px;
    margin-top: 20px;
}

main .home .container-left .more-learn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    background-color: var(--second-color);
    border-radius: 5px;
    width: 170px;
    height: 50px;
    color: #FFFFFF;
    
}

main .home .container-left .more-learn:hover{
    transform: scale(110%);
    transition: all 1s;
}

main .home .container-left .more-learn img {
    margin-left: 5px;
    width: 20px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

main .home .container-right {
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--third-color);
    border-radius: 5px;
    margin-top: 36px;
}

main .home .container-right img {
    position: absolute;
}

main .home .container-right .img-joan {
    width: 300px;
}

main .home .container-right .img-computer {
    width: 500px;
}

/* Projects */

main .projects .header-projects,
main .about .header-about {
    display: flex;
    justify-content: center;
    gap: 220px;
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 65px;
}

main .projects .header-projects .first-text,
main .about .header-about .first-text{
    font-size: 24px;
    width: 270px;
}

main .projects .header-projects .second-text {
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 18px;
    width: 450px;
}

main .projects .header-projects div span,
main .about .header-about div span{
    color: var(--second-color);
}

main .projects .container-projects {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

main .projects .container-projects .project .image-project {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-top: 60px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

main .projects .container-projects .project .project-1 {
    background-image: linear-gradient(90.49deg, #1C448F 0.37%, rgba(20, 137, 220, 0.48) 99.52%);
}

main .projects .container-projects .project .project-2 {
    background-image: linear-gradient(90deg, #987EC5 5.1%, #CF88AA 94.39%);
}

main .projects .container-projects .project .image-project img {
    width: 800px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

main .projects .container-projects .project .image-project .description-project {
    width: 926px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    background-color: var(--third-color);
    font-size: 15px;
}

main .projects .container-projects .project .image-project .description-project p {
    color: #FFFFFF;
    text-indent: 20px;
    margin-top: 20px;
}

main .projects .container-projects .project .image-project .description-project .tecnologies-links {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

main .projects .container-projects .project .image-project .description-project .tecnologies-links .tecnologies,
main .projects .container-projects .project .image-project .description-project .tecnologies-links .links {
    display: flex;
    gap: 10px;
}

main .projects .container-projects .project .image-project .description-project .tecnologies-links .tecnologies div {
    width: 75px;
    height: 30px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    border: thin solid #FFFFFF;
    border-radius: 3px;
}

main .projects .container-projects .project .image-project .description-project .tecnologies-links .links a img {
    width: 25px;
}


/* About */

main .about {
    margin-top: 140px;
    /* border: 1px solid #FFFFFF; */
}

main .about .header-about {
    display: flex;
    justify-content: flex-start;
}

main .about .image-about {
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--second-color);
    border-right: 1px solid var(--second-color);
    border-bottom-right-radius: 5px;
}

main .about .image-about div p {
    color: #FFFFFF;
    font-size: 15px;
    text-align: justify;
    justify-content: center;
    text-indent: 50px;
    line-height: 25px;
}
main .about .image-about div button {
    background-color: var(--second-color);
    outline: none;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    width: 150px;
    height: 50px;
    margin-top: 32px;
}

main .about .image-about div button:hover{
    transform: scale(110%);
    transition: all 1s;

}
main .about .image-about img{
    width: 250px;
    margin-right: 10px;
}

main .about .image-about img:hover{
    transform: scale(120%);
    transition: all 1s;
}

main .about .formation-and-skills {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

main .about .formation-and-skills .formation,
main .about .formation-and-skills .skills {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .about .formation-and-skills .formation:hover,
main .about .formation-and-skills .skills:hover {
    transform: scale(110%);
    transition: all 1s;
}

main .about .formation-and-skills .formation .title,
main .about .formation-and-skills .skills .title {
    text-align: center;
    margin-bottom: 20px;
}

main .about .formation-and-skills .formation .list-formation, 
main .about .formation-and-skills .skills .list-skills{
    border-radius: 5px;
    background-color: var(--third-color);
    width: 500px;
    padding: 30px;
}

main .about .formation-and-skills .formation .list-formation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: justify;
}

main .about .formation-and-skills .formation .list-formation .item-formation p span{
    color: var(--second-color);
}

main .about .formation-and-skills .skills .list-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

main .about .formation-and-skills .skills .list-skills div {
    padding: 10px;
    display: flex;
    justify-content: center;
    border: thin solid var(--second-color);
    border-radius: 5px;
}

main .about .formation-and-skills .skills .list-skills div:hover {
    background-color: var(--second-color);
    transition: all 1s;
}

main .about .formation-and-skills .formation .line,
main .about .formation-and-skills .skills .line {
    width: 150px;
    background-color: var(--second-color);
    margin-top: 10px;
    height: 1px;
}
/* Footer */
footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100vh;
    bottom: 40px;
    color: #FFFFFF;
}

footer a {
    color: var(--second-color);
}
